{% extends 'base.html' %}


{% block title %}Proceed To Login{% endblock %}

{% block content %}
    <main class="flex justify-center items-center my-6">


        <div class="max-w-2xl px-8 py-4 bg-white rounded-lg shadow-md">
            <div class="mt-2">
                <a href="#" class="text-xl font-bold text-gray-700 hover:text-gray-600 hover:underline" tabindex="0" role="link">Password reset complete</a>
                <p class="mt-2 text-gray-600">
                    Your password has been set. You may go ahead and log in now.
                </p>
            </div> 
        
            <div class="flex items-center justify-between mt-4">
                <a href="{% url 'login' %}" class="py-1 px-4 rounded-md bg-teal-600 hover:bg-teal-700 text-white hover:text-white hover:underline" tabindex="0" role="link">Log In</a>
        
                <div class="flex items-center">
                    <!-- <img class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block" src="https://images.unsplash.com/photo-1502980426475-b83966705988?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=40&q=80" alt="avatar"> -->
                    <a class="font-bold text-gray-700 cursor-pointer" tabindex="0" role="link">Fair Touch</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}