{% extends 'dashboard_pages/base.html' %}
{% load static %}
{% block title %} | Admin{% endblock %}
{% block content %}
<div class="bg-white shadow rounded-tr-3xl rounded-bl-3xl mt-2 p-4 sm:p-6 xl:p-8 ">
    {% include 'partials/_alerts.html' %}
    <!-- Navbar -->
    <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2">
            <li class="inline-flex items-center">
                <a href="#" class="text-gray-700 hover:text-gray-900 inline-flex items-center">
                    <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="#" class="text-gray-700 hover:text-gray-900 ml-1 md:ml-2 text-sm font-medium">Story</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="#" class="text-gray-700 hover:text-gray-900 ml-1 md:ml-2 text-sm font-medium">Listings</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="text-gray-400 ml-1 md:ml-2 text-sm font-medium" aria-current="page">Add Story</span>
                </div>
            </li>
        </ol>
    </nav>

    <h3 class="text-xl leading-none font-bold text-gray-900 mb-10">Add Story</h3>
    <div class="block w-full overflow-x-auto">
        <form novalidate method="post" class="mx-8" action="{% url 'add_story' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-3">
                    <label for="first-name" class="text-sm font-medium text-gray-900 block mb-2">Image</label>
                    {{form.image}}
                    {% for field in form.image.errors %}
                    <p class="text-xs text-red-600"> {{ field }} </p>
                    {% endfor %}
                </div>
                <div class="col-span-3">
                    <label for="first-name" class="text-sm font-medium text-gray-900 block mb-2">Name</label>
                    {{form.name}}
                    {% for field in form.name.errors %}
                    <p class="text-xs text-red-600"> {{ field }} </p>
                    {% endfor %}
                </div>
                <div class="col-span-3">
                    {{form.active}}
                    <label for="checkbox-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Check to
                        <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">appear</a>.</label>
                </div>
                <div class="col-span-6">
                    <label for="first-name" class="text-sm font-medium text-gray-900 block mb-2">Description</label>
                    {{form.description}}
                    {% for field in form.description.errors %}
                    <p class="text-xs text-red-600"> {{ field }} </p>
                    {% endfor %}
                </div>
                
                <button type="submit"
                    class="uppercase bg-blue-600 text-white text-sm font-semibold py-3 px-2 rounded-r-3xl rounded-b-3xl">
                    <i class="fa-regular fa-circle-right pr-2"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}