{% extends 'dashboard_pages/base.html' %} {% load static %} {% block title %} |
Admin{% endblock %} {% block content %}

<div class="bg-white shadow rounded-tr-3xl rounded-bl-3xl mt-2 p-4 sm:p-6 xl:p-8">
    {% include 'partials/_alerts.html' %}
    <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2">
            <li class="inline-flex items-center">
                <a href="#" class="text-gray-700 hover:text-gray-900 inline-flex items-center">
                    <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="#" class="text-gray-700 hover:text-gray-900 ml-1 md:ml-2 text-sm font-medium">Inquiries</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="text-gray-400 ml-1 md:ml-2 text-sm font-medium" aria-current="page">Listings</span>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="text-gray-400 ml-1 md:ml-2 text-sm font-medium" aria-current="page">Inquiry by
                        {{inquiry.name}}</span>
                </div>
            </li>
        </ol>
    </nav>
    <div class="flex justify-between items-center">
        <h3 class="text-xl leading-none font-bold text-gray-900 mb-10">
            Inquiry by {{inquiry.name}}
        </h3>
    </div>
    <div class="flex items-start gap-2.5">
        <div
            class="flex flex-col w-full leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl">
            <div class="flex items-center justify-between space-x-2 rtl:space-x-reverse">
                <div class="">
                    <p class="text-sm font-semibold text-gray-900">Name: {{inquiry.name}}</p>
                    <p class="text-sm font-semibold text-gray-900">Phone: {{inquiry.phone}}</p>
                    <p class="text-sm font-semibold text-gray-900">Email: {{inquiry.email}}</p>
                </div>
                <p class="text-sm font-normal text-gray-500">{{inquiry.created_at}}</p>
            </div>
            <p class="text-sm font-normal py-2.5 text-gray-900">
                {{inquiry.message}}
            </p>
            <span class="text-sm font-normal text-gray-500">Delivered</span>
        </div>
        
    </div>
</div>
{% endblock %}